/* Roboto start */

<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
/* Roboto end */

/* font fire sans start*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
/* /* fire sans end */ */

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}


:root {
    ---var-font-font-main-family: "Roboto", sans-serif;
    ---color-orange-main: #F17949;
    ---color-accent-orange: #FAB131;
    ---color-light-blue: #C7DDEA;
    ---color-accent-gray: #A9A19E;
    ---color-white: white;
}

.app-container {
    max-width: 1120px;
    margin: 0 auto;
}

.per-pay {
    color:var(---color-white);
}