.one-to-five-cards-container {
  text-align: center;
}

.one-to-five-cards-content {
  height: 10rem;
}

.one-to-five-cards-content:nth-child(2) {
  background-color: var(---color-accent-gray);
}

.one-to-five-cards-content:nth-child(4) {
  background-color: var(---color-orange-main);
}

.one-to-five-cards-content:nth-child(6) {
  background-color: var(---color-accent-gray);
}

.one-to-five-cards-content:nth-child(7) {
  height: 1rem;
}

.one-to-five-cards-content:nth-child(8) {
  height: 0.5rem;
  background-color: black;
  opacity: 80%;
}

.how-it-works-card {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: xx-large;
  padding: 20px;

  background-color: var(---color-light-blue);
}

.stack {
  display: block;
  line-height: 0.5;
  margin: 0;
  padding: 0;
}

.h3-one-to-five {
  font-size: xx-large;
  font-weight: 700;
  color: gray;
  text-align: start;
}
