.we-got-you {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(---color-light-blue);
  background-image: url(../assets/img/family.png);
  background-size: 100%;
  background-position: bottom;
  height: 80vh;
  background-repeat: no-repeat;
}

.btn-join-now {
  background-color: var(---color-white);
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 2px 1px 2px 2px rgba(174, 167, 167, 0.8);
  /* är det shadow eller inte ? */
}
